name: Node CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Nodejs Env
      run: echo "NODE_VER=`cat .nvmrc`" >> $GITHUB_ENV

    - name: Setup Nodejs
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VER }}

    - name: Install dependencies
      run: npm ci

    - name: Test
      run: npm run test
